{erl_opts, [debug_info]}.
{deps, [
    {base64url, {git, "https://github.com/dvv/base64url", {branch, "master"}}},
    {sync, {git, "https://github.com/rustyio/sync", {branch, "master"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx", {branch, "master"}}},
    {tempfile, {git, "https://github.com/nexkap/tempfile.git", {branch, "master"}}},
    {hackney, {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}}
]}.
